version: "3.8"

services:
  # Dịch vụ Database (MySQL) cho dự án KL
  db:
    image: mysql:8.0
    container_name: klshop_mysql # Tên container MySQL cho KL
    restart: always
    ports:
      - "3307:3306" # Dùng cổng 3307 để tránh xung đột với cổng 3306 của Blu
    environment:
      MYSQL_ROOT_PASSWORD: root # Mật khẩu root
      MYSQL_DATABASE: klshop_db # Tên DB tự tạo lúc khởi động cho KL
    volumes:
      - kl_db_data:/var/lib/mysql # Lưu dữ liệu bền vững cho KL

volumes:
  kl_db_data: # Định nghĩa volume riêng cho dữ liệu KL
